# Configuración del servidor
PORT=3000

# Configuración de la base de datos
DB_HOST=localhost
DB_PORT=3306
DB_USER=dbuser
DB_PASSWORD=dbpassword
DB_DATABASE=db-pohapp

# Configuración de seguridad
POHAPP_API_SECRET=your_api_secret_key
POHAPP_ADMIN_KEY=your_admin_key

# Configuración de modelos
MODEL_VERSION=v20250504
